# Créditos
Los bancos son fundamentales para el desarrollo del mercado. El crédito es una de las herramientas con mayor uso y su uso data desde el renacimiento. El concepto es sencillo, se obtiene un nominal de manera inmediata a cambio de pagar un interes por el tiempo y la cantidad que se haya obtenido. Sin embargo, por muy moderno que sean los sistemas actualmente, el credito sigue sustentado en un acto de fe. De hecho el nombre  proviene del latín del verbo credere, que significa confianza.

En tiempo mas recientes la manera de obtener un crédito era muy complicado y muy subjetivo. El cliente tenia que acudir a una institución bancaria en la cual un ejecutivo estudiaba si era candidato o no a un crédito, en este contexto tenemos una parte importante del crétido. Él término de reputación, este estudio era mas subjetivo que cuantitativo, se tomaba incluso la vestimenta y opiniones de personas cercanas. Con el avance de los sistemas estos métodos fueron sofisticados de manera paulatina.

Por ejemplo en México se cuenta con Buró de crédito, el cual contien el historial financiero del cliente, incluisive de activides cotidianas. Desde servicios telefonicos hasta compras departamentales.

# Problematica
Una institución bancaria, debe tener sólidos sistemas para el prestamo de capital. Técncias coomo XVA y CVA, son centrales para determinar que tanto puede perder la institución si un cliente no paga adecuadamente sus prestamos. Más aún, la cualidad de los créditos son muy importantes, por ejemplo meedir cuanto nos costaria que un cliente pague anticipadamene un crédito, pues recordemos que un interes está asociado al tiempo y a la cantidad prestada. Por otro lado, el central en este ejercicio, cuanto podemos perder como institución al ceder de manera erronea un crédito a un perfil riesgoso.

En términos comunes, nos interesa poder determinar la probabilidad de inpago de una contraparte, pues no solo es importe conocer el valor presente de un subyacente financiero, si no tambien su evolución.

Esto no es reciente pero si económicante hablando, las tecnicas son originadas desde la crisis suprime de 2008, en la cual se asumió erroneamente que las contrapartes siempre iban a pagar sus hipótecas, pero los sistemas no pudieron medir el valor de los CDO's asociados a esas hipotecas, lo cual culminó en la crisis inmobiliraria ya mencionada.

# Contexto
El data set, se obtubo de Kaggle,

https://www.kaggle.com/c/GiveMeSomeCredit

este data set, contiene informacion sobre clientes, la cual destaca su naturaliza que es interes al autor de este pre-estudio. Si bien es de interes conocer la morosidad  suelen ser mucho menores que los de "no default".

Se busca entrenar un modelo de XGBoostm, en este caso, nuestra intensión es lograr dominar ténicas de control del desbalanceo, el principal riesgo de ésta osadia es que el modelo podría sesgarse hacia la clase mayoritaria (prediciendo casi siempre "no default"), lo que no sería útil en la práctica.

Buscamos experiencia para el desbalanceo en el dataset con cosas como;
- Ajustar el parámetro scale_pos_weight;
- Sobremuestreo o submuestreo,
- Métricas alternativas;
  - ROC-AUC;
  - F1-Score;
  - Recall.
- Ajuste del umbral de decisión.

Actualmente se puede usar técnicas estadísticas como
[Bootstrapping ](https://en.wikipedia.org/wiki/Bootstrapping_(statistics)) para determinar las proyecciones del valor de los productos financieros. Sin embargo estos procesos son caros y en la práctica presenta errores a cambios de tasas, como recien se vio en los cambios de tasas de la FED de septiembre.

Buscamos un modelos que nos permita ahorrar en los sistemas de externos, que nos permita determinar el riesgo asociado a una contraparte. En este ejercicio se tiene la información financiera de indvioduos cuya parte dificil es determinar que un cliente con las condiciones presentadas sea o no un usuario moroso.

Lo importantes de este data set, es la cantidad de registros; 150,000, lo cual no es muy grande para nuestros fines, pero si representativo, pues tambien la página nos presenta un ejercicio con un data set de prueba, en la cual creemos que podemos ajustarnos bien alguna técnioca para lidiar con el desvalanceo. Si bien pudimos escoger un data set con mejores condiciones, el hambito financiero es de nuestro interes y la naturaleza de este data set, mas mas común y la principal dificultad.

# Datos
Los datos fueron obtenidos en Kaggle, pero para comodidad nuestra y del lector fueron cargadas en gitgub para poder importarlas directamente por medio del url del repositorio.

Se presentan 3 links, los cuales hacen referencia a;
  - `df_raw_training`,
  - `df_raw_test`,
  - `df_prob`.

  Son los tres archivos con datos dados por la página. Necesitamos entender estos archivos. Ahora procedemos a hacer la carga. Tambien adjutamos el arhivo en la carpeta de entrega.

In [25]:
import pandas as pd
import numpy as np

url_training = 'https://raw.githubusercontent.com/dt-sc-Josue-Diaz/preentrega/refs/heads/main/cs-training.csv'
df_raw_training = pd.read_csv(url_training)

url_test = 'https://raw.githubusercontent.com/dt-sc-Josue-Diaz/preentrega/refs/heads/main/cs-test.csv'
df_raw_test = pd.read_csv(url_test)

url_prob = 'https://raw.githubusercontent.com/dt-sc-Josue-Diaz/preentrega/refs/heads/main/sampleEntry.csv'
df_prob = pd.read_csv(url_prob )

In [26]:
df_raw_training.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [27]:
df_raw_training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 12 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Unnamed: 0                            150000 non-null  int64
 1   SeriousDlqin2yrs                      150000 non-null  int64
 2   RevolvingUtilizationOfUnsecuredLines  150000 non-null  float64
 3   age                                   150000 non-null  int64
 4   NumberOfTime30-59DaysPastDueNotWorse  150000 non-null  int64
 5   DebtRatio                             150000 non-null  float64
 6   MonthlyIncome                         120269 non-null  float64
 7   NumberOfOpenCreditLinesAndLoans       150000 non-null  int64
 8   NumberOfTimes90DaysLate               150000 non-null  int64
 9   NumberRealEstateLoansOrLines          150000 non-null  int64
 10  NumberOfTime60-89DaysPastDueNotWorse  150000 non-null  int64
 11  NumberOfDependents                    146076 non-null  float64
dtypes: float64(4), int64(8)
memory usage: 13.7 MB

In [28]:
df_raw_test.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,NaN,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
1,2,NaN,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
2,3,NaN,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
3,4,NaN,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
4,5,NaN,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0

In [29]:
df_raw_test.describe()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,101503.000000,0.0,101503.000000,101503.000000,101503.000000,101503.000000,8.140000e+04,101503.000000,101503.000000,101503.000000,101503.000000,98877.000000
mean,50752.000000,NaN,5.310000,52.405436,0.453770,344.475020,6.855036e+03,8.453514,0.296691,1.013074,0.270317,0.769046
std,29301.536524,NaN,196.156039,14.779756,4.538487,1632.595231,3.650860e+04,5.144100,4.515859,1.110253,4.503578,1.136778
min,1.000000,NaN,0.000000,21.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25376.500000,NaN,0.030131,41.000000,0.000000,0.173423,3.408000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,50752.000000,NaN,0.152586,52.000000,0.000000,0.364260,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,76127.500000,NaN,0.564225,63.000000,0.000000,0.851619,8.200000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,101503.000000,NaN,21821.000000,104.000000,98.000000,268326.000000,7.727000e+06,85.000000,98.000000,37.000000,98.000000,43.000000

In [30]:
df_prob.head()

   Id  Probability
0   1     0.080807
1   2     0.040719
2   3     0.011968
3   4     0.067640
4   5     0.108264

In [31]:
df_prob.describe()

                  Id    Probability
count  101503.000000  101503.000000
mean    50752.000000       0.067664
std     29301.536524       0.110445
min         1.000000       0.003513
25%     25376.500000       0.011705
50%     50752.000000       0.023285
75%     76127.500000       0.067193
max    101503.000000       0.826056

Observamos que existe una columna que no tiene nombre, procedemos a renombrarla y además a asignar el `id` como índice para evitar tener redundancia en los datos.

In [32]:
def nombres_indices(df):
  if 'Unnamed: 0' in df.columns:
    df = df.rename(columns={'Unnamed: 0':'id'})
  if 'Id' in df.columns:
    df = df.rename(columns={'Id':'id'})
  if 'id' in df.columns:
    df.set_index('id', inplace=True)

  return df

df_raw_training = nombres_indices(df_raw_training )
df_raw_test = nombres_indices(df_raw_test)
df_prob = nombres_indices(df_prob)

In [33]:
df_raw_training.columns

Index(['SeriousDlqin2yrs', 'RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents'],
      dtype='object')

Notamos que el archivo, de test es el dado por la página para realizar los entrenamientos, mientra que los otros dos funcionan para las evaluaciones, el último arhivo contiene probabilidadees de incumplimiento. Procedemos a tener un solo archivo

In [34]:
df_merged = nombres_indices(pd.merge(df_prob, df_raw_training, 
                                     left_index=True, 
                                     right_index=True,
                                     how = 'inner'))
df_merged.columns

Index(['Probability', 'SeriousDlqin2yrs',
       'RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents'],
      dtype='object')

Ahora procedemos a guardar este procesos en las carpetas correspondientes y tambien en github. Una vez que hagamos el push en gitdesktop podemos cargar desde internet para el segundo paso. Esto para fines prácticos, además que garantizamos que ambos datos son los mismos.

In [35]:
df_merged.to_csv('02_data_discovery/data_credit_test.csv', 
                 index = False)
df_raw_training.to_csv('02_data_discovery/data_para_discovery.csv', 
                       index = False)

# Bibliografia
https://carlosmarichal.colmex.mx/banca/Historia%20de%20la%20Banca%20y%20el%20credito%20en%20Mexico.pdf

https://www.asobancaria.com/wp-content/uploads/2018/01/13b-alberto-elices_2016-ajustes-de-valoracion-xva.pdf

https://www.burodecredito.com.mx/